#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

#form {
  border: solid 2px rgb(255, 166, 0);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
}

h1#titleMaterial {
  font-size: 2rem;
  text-align: center;
  border-bottom: 3px solid orange;
  width: 80%;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.material {
  border: solid 1px orange;
  width: 7rem;
  margin-top: 0.5rem;
  height: 1.3rem;
}

.materialBox {
  border: 2px solid orange;
  margin: 0.3rem;
  padding: 1rem;
  border-radius: 7px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 16px 18px rgba(76, 74, 73, 0.19);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 16px 18px rgba(76, 74, 73, 0.19);
}

#sign {
  color: red;
  font-size: 1.3rem;
}

p {
  font-style: italic;
}

#button2 {
  width: 78%;
  background-color: aqua;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

#button2:hover {
  background-color: orange;
}