#header {
  grid-area: header;
}

#datePicker {
  grid-area: datePicker;
}

#sectionContent {
  grid-area: sectionContent;
}

#output {
  grid-area: output;
  border-bottom: orange solid 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer {
  grid-area: footer;
}

#container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 0.4fr 1fr 2.2fr 0.2fr;
  grid-template-areas: "header" "datePicker" "sectionContent " "output" "footer";
  grid-row-gap: 0.5rem;
  width: 100%;
}

.headerItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(header.jpg);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  width: 100%;
  height: 20vh;
}

.title {
  color: rgb(245, 134, 7);
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2.8rem;
  -webkit-text-stroke: 1px rgb(2, 2, 2);
  font-weight: bold;
}

.subtitle {
  color: rgb(250, 126, 2);
  text-align: center;
  padding-bottom: 0.2rem;
  font-size: 2rem;
  text-shadow: 2px 2px rgb(2, 2, 2);
}

.required {
  display: flex;
  flex-direction: column-reverse;
  color: red;
}

#datePicker {
  display: flex;
  flex-direction: row;
  border-bottom: 4px solid orange;
  justify-content: space-around;
  border-radius: 10%;
  width: 90%;
  padding-bottom: 1rem;
  margin: auto;
}

.date {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.dateLabel {
  color: orange;
  text-shadow: 1px 1px black;
}

#sectionContent {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 3rem;
  border-bottom: orange solid 4px;
}

.inputs {
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.2em;
}

select {
  width: 8rem;
}

select:hover {
  background-color: rgb(253, 199, 99);
}

span.red {
  color: red;
}

#outputInformation {
  border: 5px groove #fad4a7;
  margin: 1.5rem 2rem 1.5rem 2rem;
  height: 100%;
  padding: 1rem;
  color: rgb(51, 46, 27);
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 16px 18px rgba(76, 74, 73, 0.19);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 16px 18px rgba(76, 74, 73, 0.19);
}

.today {
  text-align: center;
  visibility: hidden;
}

hr {
  height: 1.5px;
  background-color: orange;
  border: none
}

#today2 {
  color: crimson;
}

#jobName {
  margin: 1rem 0 0.5rem 1.5rem;
  visibility: hidden;
}

#jobName2 {
  color: crimson;
}

#leader {
  margin: 0 0 0.5rem 1.5rem;
  visibility: hidden;
}

#leader2 {
  color: crimson;
}

#crewBox {
  display: flex;
  flex-direction: row;
}

#crewBox {
  visibility: hidden;
}

#crew {
  margin: 0 1.5rem 0 1.5rem;
}

.laborer {
  margin-bottom: 1rem;
}

.garbage {
  color: rgb(114, 113, 112);
}

ol li {
  color: crimson;
}

#button {
  align-self: flex-end;
  margin: 0 2rem 1.5rem 0;
  height: 2.5rem;
  width: 5rem;
  padding: 0.3rem;
  font-weight: bold;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 9px 0px rgba(252, 45, 11, 0);
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 9px 0px rgba(252, 45, 11, 0);
}

#buttonPicture {
  width: 35%;
  height: 80%;
}

#footer {
  font-size: small;
  text-align: center;
}

.myName {
  color: crimson;
  font-size: small;
  font-family: fantasy;
}